.containerMessage {
    width: 500px;
    position: absolute;
    top: 4em;
    border: 1px solid #fff;
    padding: 20px;
    animation: messagePopup 0.4s;
}

.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.topHeader h3 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.topHeader button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-E8F1F2);
    border: 2px solid var(--color-E8F1F2);
}

/* ANIMATION HEADER */

@keyframes messagePopup {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
