<div class="content" *ngIf="messagesService.isShow">  
<div *ngIf="hero" class="changesContainer">

      <div class="top-container">
            <button class="btn-cancel" (click)="messagesService.closePopup()"><i class="fa-solid fa-xmark"></i></button>
      </div>

            <div class="field">
                  <label>Name</label>
                  <input [(ngModel)]="hero.name" placeholder="Name">
            </div>
            <div class="field">
                  <label>FirstName</label>
                  <input [(ngModel)]="hero.firstName" placeholder="FirstName">
            </div>
            <div class="field">
                  <label>LastName</label>
                  <input [(ngModel)]="hero.lastName" placeholder="LastName">
            </div>
            <div class="field">
                  <label>Place</label>
                  <input [(ngModel)]="hero.place" placeholder="Place">
            </div>
            <div class="btn-field">
                  <button (click)="updateHero(hero)" *ngIf="hero.id">Save</button>
                  <button (click)="deleteHero(hero)" *ngIf="hero.id">Delete</button>
                  <button (click)="createHero(hero)" *ngIf="!hero.id">Create</button>
            </div>
      </div>
</div>